.InputForm {
    background-color: #ffffff !important;
    border: 2px solid black !important;
    border-radius: 8px !important;
    box-shadow: none !important;
}
.InputForm:focus:not(#password) {
    border: black 3px solid !important;
}
